<div class="main-wrapper">
  <app-side-bar></app-side-bar>
  
  <div class="tab">
    <div class="btn-container">
      <button class="rounded-sm font-semibold bg-purple-400 p-3">Insert
        <span class="material-symbols-rounded font-semibold">add</span>
      </button>

    </div>


    <div class="tab-container bg-purple-200 p-4 flex justify-center content-center items-center m-10 rounded-2xl">

      <table mat-table [dataSource]="dataSource" class="items-center m-5 bg-purple-300 ">

        <ng-container matColumnDef="Id">
          <th mat-header-cell *matHeaderCellDef> Id</th>
          <td mat-cell *matCellDef="let element"> {{element.Id}} </td>
        </ng-container>


        <ng-container matColumnDef="FirstName">
          <th mat-header-cell *matHeaderCellDef> FirstName </th>
          <td mat-cell *matCellDef="let element"> {{element.FirstName}} </td>
        </ng-container>

        <ng-container matColumnDef="LastName">
          <th mat-header-cell *matHeaderCellDef> LastName</th>
          <td mat-cell *matCellDef="let element"> {{element.LastName}} </td>
        </ng-container>

        <ng-container matColumnDef="Email">
          <th mat-header-cell *matHeaderCellDef> Email </th>
          <td mat-cell *matCellDef="let element"> {{element.Email}} </td>
        </ng-container>

        <ng-container matColumnDef="Gender">
          <th mat-header-cell *matHeaderCellDef> Gender </th>
          <td mat-cell *matCellDef="let element"> {{element.Gender}} </td>
        </ng-container>

        <ng-container matColumnDef="JobTitle">
          <th mat-header-cell *matHeaderCellDef> JobTitle </th>
          <td mat-cell *matCellDef="let element"> {{element.JobTitle}} </td>
        </ng-container>

        <ng-container matColumnDef="Action">
          <th mat-header-cell *matHeaderCellDef> Action </th>
          <td mat-cell *matCellDef="let element">
            <span class=" material-symbols-rounded btn p-1 bg-red-400 rounded-2xl cursor-pointer m-2">delete</span>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


      </table>
    </div>

  </div>


</div>