* {
    text-decoration: none;
    font-size: 0.3rem;
    font-weight: bold;
}

nav {
    background-color: #382e59;
    margin-left: 0.3rem;
    margin-top: 3px;
    width: 99.5vw;
    height: 8vh;
    overflow: hidden;
}
 


.cont{
    display: flex;
    align-items: center;
    justify-content: flex-end;
     transform: translate(-5px,20px); 
}

.logout{
    width: 4vw;
    transition:  .5s;
}

.logout:hover{
 width: 4.5vw;
}

.logo{
   
    transform: translateX(0vw)  ;
    display: flex;
    justify-content: flex-start;
    
}

div.logo img{
    padding-top: 20px;
    padding-left: 5px;
    filter:drop-shadow(rgb(255, 255, 255) 0px 5px 15px);
    width: 5vw;
     position: absolute;
     transition: width .5s;
     cursor: pointer;
}

div.logo img:hover{
   
width: 5.3vw;
filter: drop-shadow(#fffffffd 0px 5px 25px);
}


