* {
    text-decoration: none;
    font-size: 1.5rem;

}

.borderForNav{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border: white solid 1px;
}
nav{
    margin-left: 1rem;
    margin-top: 3px;
    width: 5vw;
    height: 75vh;
    position: relative;
    /* bottom:35px; */
    overflow: hidden;
}
.lite {
    background-color: #886cce46;
}

.dark{
    background-color: #382e59;
}


nav ul {
    list-style-type: none;
}


ul.settings-conts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-gap: auto;
}

.settings-conts li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4.5rem;
    /* border: 2px solid red; */
    height: 4rem;

}


.settings-conts li a {
    display: grid;
    grid-template-columns: auto;
    position: absolute;
    /* color: aliceblue; */

}

.settings-conts li a:hover {
    color: rgb(247, 126, 136);
}



span {
    /* border: 1px solid black; */
    font-size: 2.5rem;
    font-weight: 400;
}




.nav-container {
    
    height:80vh;
    margin-left: 5px;
}

button.logout>span{
    transition: transform .8s;
}



button.logout {
   
    background-color: rgb(247, 126, 136);
    color: black;
    text-align: center;
    width: 3.5rem;
    height: 2.5rem;
    font-size: 1rem;
    transition: all .8s;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-weight: bold;
    border-radius: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-bottom: 2rem; */
    
}
.logBtnCont{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    /* border: solid black 2px; */
    height: 30rem;
}

