<div class="logo ">
<img src="../../../../assets/logo/logo2.png"  >
</div>
<nav class="rounded-xl">
   
    <div class="cont">
        
    <button mat-raised-button class="logout">Logout</button>
    </div>
</nav>


    <!-- <ul class="slide-conts">
        <li>
            <ul class="settings-conts">
                <div class="setHead">SETTINGS</div>

                <li>
                    <a [routerLink]="['/sys-info']">
                        <span class="material-symbols-rounded">
                            info
                        </span>
                        <span class="sys-opt">
                            System Info
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#" [routerLink]='["/company-details"]'>
                        <span class="material-symbols-rounded">
                            manage_history
                        </span>
                        <span class="sys-opt">
                            Company Details
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#" [routerLink]='["/print"]'>
                        <span class="material-symbols-rounded">
                            print
                        </span>
                        <span class="sys-opt">
                            Print Setup
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#" [routerLink]='["/backup"]'>
                        <span class="material-symbols-rounded">
                            backup
                        </span>
                        <span class="sys-opt">
                            Backup
                        </span>
                    </a>
                </li>
            </ul>
        </li>

            

    </ul> -->


