<div class="nav-container">
    <nav class="rounded-xl flex flex-col justify-center nav" 
    [ngClass]="{
        'dark':isSwitched,'lite borderForNav':!isSwitched}"
  >

        <ul class="settings-conts flex flex-row" 
         [ngClass]="{
            'text-gray-200':isSwitched,'text-gray-600':!isSwitched
            }">


            <li>
                <a [routerLink]="['/sys-info']">
                    <span class="material-symbols-rounded">
                        info
                    </span>

                </a>
            </li>
            <li>
                <a href="#" [routerLink]='["/company-details"]'>
                    <span class="material-symbols-rounded">
                        manage_history
                    </span>

                </a>
            </li>
            <li>
                <a href="#" [routerLink]='["/print"]'>
                    <span class="material-symbols-rounded">
                        print
                    </span>

                </a>
            </li>
            <li>
                <a href="#" [routerLink]='["/backup"]'>
                    <span class="material-symbols-rounded">
                        backup
                    </span>

                </a>
            </li>

            <li>
                <div class="logBtnCont">
                    <button class="rounded-xl logout">
                        <span class="material-symbols-rounded">
                            logout
                        </span>
                    </button>
                </div>
            </li>

            
        </ul>

    </nav>

</div>

