<nav class="rounded-l-xl">
    <div>
    <app-user-deatils >

    </app-user-deatils>

    <div class="separation"></div>
    
 


    <ul class="side-conts ">
        <li>
            <ul class="settings-conts flex flex-row gap-5">
                <div class="setHead">SETTINGS</div>

                <li>
                    <a [routerLink]="['/sys-info']">
                        <span class="material-symbols-rounded">
                            info
                        </span>
                        <span class="sys-opt">
                            System Info
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#" [routerLink]='["/company-details"]'>
                        <span class="material-symbols-rounded">
                            manage_history
                        </span>
                        <span class="sys-opt">
                            Company Details
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#" [routerLink]='["/print"]'>
                        <span class="material-symbols-rounded">
                            print
                        </span>
                        <span class="sys-opt">
                            Print Setup
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#" [routerLink]='["/backup"]'>
                        <span class="material-symbols-rounded">
                            backup
                        </span>
                        <span class="sys-opt">
                            Backup
                        </span>
                    </a>
                </li>
                <li>
                    <div class=" translate-x-8 ">
                    <button class="rounded-xl logout">logout</button>
                </div>
                </li>
            </ul>
        </li>
        
            

    </ul>
</div>
    <!-- 
        <button class="rounded-xl logout">logout</button>
     -->

</nav>

