<div  class="card-container flex justify-evenly">
    <ng-container *ngFor="let card of Cards">
      <ng-container>
        <mat-card routerLink="/{{card.route}}" style="text-align: center;">
          <mat-card-header class="flex align-middle justify-center ">
            <mat-card-subtitle class="font-bold text-[#382e59] dark:text-white">{{card.name | uppercase}}</mat-card-subtitle>
          </mat-card-header>
          <div class="img-cont flex items-center">
            <img mat-card-image src="{{card.imageUrl}}" />
          </div>
        </mat-card>
      </ng-container>
    </ng-container>
 </div>
  