<div class="user-details-wrapper flex flex-col">
    <div class="btn-container mb-5 flex flex-col gap-6 justify-center ">
        <button mat-raised-button class="rounded-sm font-semibold w-36" color="primary" (click)="insertTrigger()">User
            <mat-icon>person_add</mat-icon>
        </button>
        
            <mat-label>Search Data</mat-label>
            <input (input)="searchDataInRows()"  type="tel" matInput placeholder="" [(ngModel)]="findByName">
            <button type="button">
                <mat-icon >search</mat-icon>
            </button>
       
    </div>

    <div class="flex justify-center">
        <ag-grid-angular class="ag-theme-alpine user-table cursor-pointer" [paginationAutoPageSize]="true"
            style="height: 500px; width:70vw;" [rowData]="rowData$ | async" [columnDefs]="columnDef"
            [pagination]="true" [rowSelection]="rowSelection" (cellClicked)="onCellClicked($event)"
            (gridReady)="onGridReady($event)">
        </ag-grid-angular>
    </div>
</div>