.nonLoginDirectivesContainer{
    /* background-color: #e6dcfc46; */
    background-color: #382e59;
    width: 100%;
    margin-left: 0rem;
    margin-top: 2rem;
    margin-right: 3rem;
    /* padding-top: 40px; */
    height: 90vh;
    border-radius: 20px;
    display: grid;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;  
}

.entirePageContainer{
    background-color: rgba(104, 114, 122, 0.801);
}

.loginLoadDirectiveContainer{
    transform: translateX(50%);
    /* background-color: #382e59; */
}

.close{
    
    display: flex;
    width: 2.5rem;
    height: 2.5rem;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background-color: rgb(243, 192, 253);
    /* transform: translate(71.5rem,-2rem); */
    cursor: pointer;
    position: absolute;
    right: 25px;
    top: 20px;
}

.logBackground{
    background-color: #e6dcfcab;
}

.notifi-button-container{
    /* position: absolute; */
    width: 5%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
    transform: translateY(10rem);
}

.notifi{
    background-color: rgb(243, 192, 253);
}
