 <div class="entirePageContainer flex flex-row" [ngClass]="{'logBackground':isLoginPageAvail}">
    <div *ngIf="ShowSidebarAndNotifiBar()">
        <app-side-bar></app-side-bar>
    </div>
    <div class="notification-bar" *ngIf="ShowSidebarAndNotifiBar()">
        <div class="notifi-button-container">
            <button mat-mini-fab class="notifi" aria-label="Example icon button with a menu icon">
                <span class="material-symbols-outlined">
                    notifications
                    </span>
            </button>
        </div>
    </div>
    <div class="" [ngClass]="{'loginLoadDirectiveContainer':isLoginPageAvail,'nonLoginDirectivesContainer':!isLoginPageAvail}">
        <div class="close" *ngIf="showCloseIcon()">
            <mat-icon class="close-icon" style="color: #000000;" [routerLink]='["/dash-board"]'>close</mat-icon>
        </div>
        <router-outlet></router-outlet>
        
    </div>
    
</div>




