 .nonLoginDirectivesContainer{
    background-color: #e6dcfc46;
    /* background-color: #382e59; */
    width: 100%;
    margin-left: 2rem;
    margin-top: 1.5rem;
    margin-right: 3rem;
    padding-top: 3.5rem;
    height: 95vh;
    border-radius: 20px;
}

.loginLoadDirectiveContainer{
    transform: translateX(50%);
}

