
<div class="main-wrapper">
  <app-side-bar></app-side-bar>
  <div>
    <div class="btn-container">
      <button class="rounded-sm font-semibold bg-purple-400 p-3">Insert
        <span class="material-symbols-rounded font-semibold">add</span>
      </button>
    </div>
    
    
    <div class="tab-container bg-purple-200 p-4 flex justify-center content-center items-center m-10 rounded-2xl">
    
      <table mat-table class="items-center m-5 bg-purple-300 ">
    
   
    
    
      </table>
    </div>
  </div>
</div>
    
  