<ng-container class="grid">
    <!-- InvoiceTemplate -->
    <div class="">
        <div class="w-full h-auto p-[16px] relative">
            <div class="flex flex-row mb-[50px] gap-[8px] border-b-2 border-black">
                <div class="w-[100px] h-[100px]">
                    <img src="../../../assets/logo/logo2.png" alt="company-logo" class="w-full h-full object-contain" />
                </div>
                <div class="h-[101px] flex flex-col mb-[10px]">
                    <div class="uppercase text-[36px] font-thin">COMFORT LINEN COMPANY (PVT) LTD</div>
                    <div class="text-[20px] pb-[5px]">Manufacturer of quilt & bed Linen</div>
                </div>
            </div>
            

            <div class="flex items-center justify-between mb-[30px]">
                <div class="flex flex-col gap-y-[20px]">
                    <div>
                        <p class="text-[14px]">Billed to :</p>
                        <h1 class="text-[18px] font-semibold"> {{this.selectedCustomer.custName}}</h1>
                    </div>
                    <div>
                        <p class="text-[14px]">{{this.selectedCustomer.address}}</p>
                        <p class="text-[14px]">{{this.selectedCustomer.contact}}</p>
                        <p class="text-[14px]"> {{this.selectedCustomer.email}}</p>
                    </div>
                </div>

                <div class="flex flex-col gap-y-[20px] text-right">
                    <div>
                        <p class="text-[14px]">Invoice Date:</p>
                        <h1 class="text-[14px] font-semibold">{{this.today}}</h1>
                        <p class="text-[14px]">Invoice Time:</p>
                        <h1 class="text-[14px] font-semibold">{{getInvoiceTime()}}</h1>
                    </div>
                    <div>
                        <p class="text-[14px]">Invoice No:</p>
                        <h1 class="text-[14px] font-semibold">#CLC-{{this.invoiceNumber}}</h1>
                    </div>
                </div>
            </div>

            <table class="w-full">
                <thead class="bg-black text-white">
                    <tr>
                        <th class="py-[13px] px-[16px]   text-left">Description</th>
                        <th class="py-[13px] px-[16px] w-[100px] text-left">Qty</th>
                        <th class="py-[13px] px-[16px] w-[100px] text-left">Price</th>
                        <th class="py-[13px] px-[16px] w-[100px] text-left">
                            Discount
                        </th>
                        <th class="py-[13px] px-[16px] w-[200px] text-left">Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of this.productCartItems" class="border-b-2">
                        <td class="py-[16px] px-[16px]">{{item.stockOBJ.itemName}}</td>
                        <td class="py-[16px] px-[16px] w-[100px]">{{item.quantity}}</td>
                        <td class="py-[16px] px-[16px] w-[150px]">Rs {{(item.stockOBJ.sellingPrice).toFixed(2)}}</td>
                        <td class="py-[16px] px-[16px] w-[100px]">
                            {{((item.discount/item.stockOBJ.sellingPrice)*100).toFixed(2)+"%"}}</td>
                        <td class="py-[16px] px-[16px] w-[200px]">Rs {{(item.netAmount).toFixed(2)}}</td>
                    </tr>

                </tbody>
            </table>

            <div class="flex flex-col items-end mt-[16px] gap-y-[8px]">
                <div class="w-[500px] px-[16px]">
                    <div class="flex items-baseline justify-between">
                        <div class="w-[300px] pl-[100px]">
                            <p class="text-[14px]">Sub Total:</p>
                        </div>
                        <div class="w-[200px] pl-[16px]">
                            <p class="text-[14px] text-left">Rs {{(this.total).toFixed(2)}}</p>
                        </div>
                    </div>
                </div>
                <div class="w-[500px] px-[16px]">
                    <div class="flex items-baseline justify-between">
                        <div class="w-[300px] pl-[100px]">
                            <p class="text-[14px]">Paid Amount:</p>
                        </div>
                        <div class="w-[200px] pl-[16px]">
                            <p class="text-[14px] text-left">Rs {{ (paidAmount || 0).toFixed(2) }}</p>
                        </div>
                    </div>
                </div>
                <!-- <div class="w-[500px] px-[16px]">
                    <div class="flex items-baseline justify-between">
                        <div class="w-[300px] pl-[100px]">
                            <p class="text-[14px]">Discount:</p>
                        </div>
                        <div class="w-[200px] pl-[16px]">
                            <p class="text-[14px] text-left">$10</p>
                        </div>
                    </div>
                </div> -->
                <div class="w-[500px] px-[16px]">
                    <div class="flex items-baseline justify-between">
                        <div class="w-[300px] pl-[100px]">
                            <p class="text-[18px] font-semibold">Total:</p>
                        </div>
                        <div class="w-[200px] pl-[16px]">
                            <p class="text-[18px] font-semibold text-left">Rs
                                {{((this.total-paidAmount)||this.total).toFixed(2)}}</p>
                        </div>
                    </div>
                </div>
            </div>

            <p class="text-semibold text-center mb-[16px] mt-[100px] flex flex-col items-center justify-center">
                Thank you for the purchase!
                <!-- <span class="block text-[11px] mt-[10px]">Comfort Linen Company provides a wide range of products to
                    meet
                    the
                    needs of every customer.</span> -->
            </p>

            <p class=" font-semibold text-sm text-center pt-[16px] border-t-2 border-black">
               <span> PILLOWS | DUVETS | BEDQUILTS | BEDSHEETS | MATTERS PROTECTORS | PREGNANCY & FEEDING PILLOW | TRAVELLING MAT | SLEEPING BAG</span><br >
               <span>Office : #33/24, Hekitta Lane, Wattala | Tel: 011-2985400 | Hot Line: 076-1382156 | Email : info@comfortlinenlk.com | www.cherryb.co</span>
            </p>
        </div>
        <!-- <div>
            <mat-dialog-actions align="center">
                <button mat-raised-button color="basic" (click)="makePayment()">Make a payment</button>
                <button mat-raised-button color="primary" (click)="completeInvoice()">Confirm Invoice</button>
                <button mat-raised-button (click)="openPDF()" color="warn">Print</button>
            </mat-dialog-actions>
        
        </div>  -->
    </div>
</ng-container>