<div class="  main-container-userform bg-neutral-200 shadow-2xl flex flex-col items-center justify-center">
    <!-- <img src="../../../../assets/logo/logoo.png" class="pt-5" width="90px">  -->
    <div mat-dialog-title   class=" text-sm ">
       {{this.data.title}} Stock Data
   </div> 

   <div mat-dialog-content class="rounded-lg mat overflow-hidden">
       <form [formGroup]="stockForm"  class="overflow-hidden flex flex-col" (ngSubmit)="selectOperation()">
        <!-- <div class="flex flex-row gap-2 ">  -->
           <mat-form-field class="cdk-visually-hidden">
               <mat-label > Id </mat-label>
               <input matInput formControlName="stockId"  type="text" class=""/>
           </mat-form-field>

           <!-- <mat-form-field>
               <mat-label >Material Name</mat-label>
               <input matInput formControlName="materialName" type="text" class=""/>
               <mat-error *ngIf="stockForm.get('materialName')?.errors">This field is required!</mat-error>
               <mat-error *ngIf="">This field is required!</mat-error>
           </mat-form-field> -->

           <mat-form-field class="">
            <mat-label>Category</mat-label>
            <input type="text"
                   placeholder="Category"
                   matInput
                   formControlName="categoryOBJ"
                   [formControl]="categoryControl"
                   [matAutocomplete]="auto"
                   >
                   <mat-error *ngIf="stockForm.get('categoryOBJ')?.errors">This field is required!</mat-error>
            <mat-autocomplete  autoActiveFirstOption #auto="matAutocomplete" >
                <mat-option 
                    *ngFor="let aCat of filterOptions | async" 
                    [value]="aCat.categoryId"
                    >
                    {{aCat.categoryId}} | {{aCat.categoryName}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>

           <mat-form-field>
               <mat-label> Item Name </mat-label>
               <input matInput formControlName="itemName" type="text" class="" />
               <mat-error *ngIf="stockForm.get('itemName')?.errors">This field is required!</mat-error>
           </mat-form-field>
           <!-- </div> -->
           <mat-form-field>
               <mat-label> Material Colour </mat-label>
               <input matInput formControlName="materialColour" type="text" class="" />
               <mat-error *ngIf="stockForm.get('materialColour')?.errors">This field is required!</mat-error>
           </mat-form-field>

           <div class="dateandQtyCont">
           <mat-form-field >
            <mat-label>MM/DD/YYYY</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="arrivalDate">
            <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

           <mat-form-field >
            <mat-label> Quantity </mat-label>
            <input matInput formControlName="quantity" type="text" class="" />
            <mat-error *ngIf="stockForm.get('quantity')?.errors">This field is required!</mat-error>
            </mat-form-field>
        </div>
        <mat-form-field>
            <mat-label> Purchase Price </mat-label>
            <input matInput formControlName="purchasePrice" type="number" step=".01" class="" />
            <mat-error *ngIf="stockForm.get('purchasePrice')?.errors">This field is required!</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label> Selling Price </mat-label>
            <input matInput formControlName="sellingPrice" type="number" step=".01" class="" />
            <mat-error *ngIf="stockForm.get('sellingPrice')?.errors">This field is required!</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label> Remarks </mat-label>
            <input matInput formControlName="remarks" type="text" class="" />
            <mat-error *ngIf="stockForm.get('remarks')?.errors">This field is required!</mat-error>
        </mat-form-field>
           
          
           

           <div mat-dialog-actions class="button-wrapper flex flex-row">
               <button mat-flat-button color="primary" class="save" type="submit">
                   {{data.title}}
               </button>
               <!-- <button mat-flat-button color="basic"  class="save" type="button">
                   cancel
               </button> -->
           </div>
       </form>
   </div>

   

</div>