
    

<div class="card-container ">

  <mat-card [routerLink]="['Customer']"  style="text-align: center;margin-top: 5px;" >
      <div class="img-cont">
      <img mat-card-image src="../../assets/New Set/customer.jpg" >
      </div>
      <mat-card-title>
          {{'Customer '|uppercase}}
      </mat-card-title>
  </mat-card>


<mat-card [routerLink]="['User']"  style="text-align: center;margin-top: 5px;">
      <div class="img-cont">
      <img mat-card-image src="../../assets/New Set/user.jpg" >
      </div>
      <mat-card-title>
         {{"User" | uppercase }}
      </mat-card-title>
  </mat-card>


  <mat-card [routerLink]="['Vendor']"  style="text-align: center;margin-top: 5px;">
      <div class="img-cont">
      <img mat-card-image src="../../assets/New Set/vendor.jpg" >
      </div>
      <mat-card-title>
          {{'Vendor '|uppercase}}
      </mat-card-title>
  </mat-card>


  <mat-card [routerLink]="['Sales']"  style="text-align: center;margin-top: 5px;">
      <div class="img-cont">
      <img mat-card-image src="../../assets/New Set/Sales.jpg" >
      </div>
      <mat-card-title>
         {{' Sales'|uppercase}}
      </mat-card-title>
  </mat-card>


  <mat-card [routerLink]="['Employee']"  style="text-align: center;margin-top: 5px;">
      <div class="img-cont">
      <img mat-card-image src="../../assets/New Set/Employee.jpg" >
      </div>
      <mat-card-title>
          {{'Employee '|uppercase}}
      </mat-card-title>
  </mat-card>


  <mat-card [routerLink]="['Stock']"  style="text-align: center;margin-top: 5px;">
      <div class="img-cont">
        <img mat-card-image src="../../assets/New Set/Stock.jpg" >
      </div>
      <mat-card-title>
        {{' Stock '|uppercase}}
      </mat-card-title>
  </mat-card>


  <mat-card [routerLink]="['Purchase']"  style="text-align: center;margin-top: 5px;">
      <div class="img-cont">
      <img mat-card-image src="../../assets/New Set/Purchase.jpg" >
      </div>
      <mat-card-title>
         {{' Purchase'|uppercase}}
      </mat-card-title>
  </mat-card>


  <mat-card [routerLink]="['Report']" style="text-align: center;margin-top: 5px;">
      <div class="img-cont">
        <img mat-card-image src="../../assets/New Set/Report.jpg" >
      </div>
      <mat-card-title>
         {{'Report'|uppercase}}
      </mat-card-title>
  </mat-card>




</div>

