<!-- <button mat-button class="w-[8rem] h-[1rem]" color="accent" (click)="makePayment()">Payment<mat-icon class="">payment</mat-icon></button> -->
<div class="flex mt-1 w-[10rem] h-[35px] justify-center ">
    <button mat-button class="bg-cyan-500 text-sm text-center font-semibold rounded-md  h-full w-full" color="warn"
        (click)="makePayment()">
        Make Payment
        <mat-icon class="font-thin">payment</mat-icon>
    </button>
    <!-- <div class="bg-cyan-500 text-md text-center font-bold rounded-md  h-full w-full" (click)="makePayment()">Payment History</div> -->
</div>