

<mat-card-content class=" flex flex-col justify-center items-center min-h-screen min-w-full ">
    <div class="main-container bg-neutral-100 shadow-2xl rounded-3xl">
        <img src="../../../../assets/logo/logo2.png" class="opacity" class=" drop-shadow-2xl"> 
        <div class="p-3 flex justify-center">
           
            <div Class="font-bold"> LogIn </div>
           
        </div>
       
        <form [formGroup]="logForm" class="flex flex-col items-center justify-center content-center">
           
            <mat-form-field class="w-2/3 ">
                <mat-label class=""> Username </mat-label>
                <input  name="username" matInput formControlName="userName" placeholder=""
                    type="username" class=" rounded-lg shadow-md " required />
            </mat-form-field>

            <mat-form-field class="w-2/3">
                <mat-label>Confirm your password</mat-label>
                <input formControlName="password" matInput [type]="hide ? 'password' : 'text'">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility': 'visibility_off'}}</mat-icon>
                </button>
            </mat-form-field>

            <div>
                <button mat-raised-button class="log" color="primary" (click)="loginUser()">Login</button>
            </div>


        </form>


    </div>
</mat-card-content>