<div class="flex flex-row justify-center ">
<mat-card class="w-3/4 rounded-3xl h-2/4">
    <mat-card-header  class="bg-purple-200 rounded-lg m-2 flex flex-row justify-center relative ">
      <div class="absolute top-1">
        <mat-card-subtitle class="font-extrabold text-black" >-INVOICE DETAILS-</mat-card-subtitle>
      </div>
      <div class="custDetailsContainer mt-3">
      <mat-card-subtitle  class="font-semibold">Invoice Number: {{this.invoiceNumber}}</mat-card-subtitle>
      <mat-card-subtitle class="font-semibold">Customer Name : {{this.customerName|uppercase}}</mat-card-subtitle>
      <mat-card-subtitle  class="font-semibold">Customer Contact : {{this.custContact}}</mat-card-subtitle>
    </div>
    </mat-card-header>
    <mat-card-actions class="flex flex-row justify-around align-middle">
      <button mat-raised-button  color="warn">Complete the invoice </button>
    <button mat-raised-button color="primary" (click)="insertTrigger()">Add more products</button> 
    </mat-card-actions>
  </mat-card>
  </div>
 
  <div>
<div class="user-data-wrapper flex flex-col">
    
        
    <div class="search-cont  ">
     <div class="box">
         <input type="text" placeholder="Search"  (input)="searchDataInRows()" [(ngModel)]="searchCharac">
             <mat-icon >search</mat-icon>
             
     </div>
   
    </div>
    

 <div class="table-cont flex justify-center" >
     <ag-grid-angular 
     class="ag-theme-alpine user-table cursor-pointer" 
     [paginationAutoPageSize]="true"
     style="margin-bottom: 1rem; height: 60vh; width:76vw;"
     [rowData]="rowData$ | async" 
     [columnDefs]="columnDef"
     [rowSelection]="rowSelection" 
     (cellClicked)="onCellClicked($event)"
     (gridReady)="onGridReady($event)"
     [pagination]="true"
     >
     </ag-grid-angular>
 </div>
 
 
 <!-- <div class="btn-container mb-5 flex flex-row mt-5 gap-6 justify-end mr-5 ">
 <button mat-raised-button class="rounded-sm font-semibold w-36" color="primary" >Invoice
     <mat-icon>person_add</mat-icon>
 </button>
 </div> -->
</div>

  </div>